@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden; }

ul {
  margin: 0; }

a:hover {
  text-decoration: none; }

a:focus {
  text-decoration: none; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

#header {
  width: 100%;
  display: block;
  z-index: 100000000;
  top: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out; }
  #header .menu-top {
    height: 20px;
    margin: 10px 0;
    font-size: 14px;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out; }
    #header .menu-top .mail-number {
      float: left; }
      #header .menu-top .mail-number span {
        margin-right: 10px; }
        #header .menu-top .mail-number span i {
          margin-right: 3px; }
    #header .menu-top .social-icons {
      float: right; }
      #header .menu-top .social-icons .social-icon {
        font-size: 14px; }
  #header .menu-bottom {
    height: 64px; }
    #header .menu-bottom .menu-logo {
      float: left;
      height: 100%; }
      #header .menu-bottom .menu-logo .logo {
        height: 100%;
        display: block; }
      #header .menu-bottom .menu-logo .logo-transparent {
        height: 100%;
        display: none; }
    #header .menu-bottom .main-menu {
      float: right; }
      #header .menu-bottom .main-menu ul {
        list-style-type: none; }
        #header .menu-bottom .main-menu ul li {
          float: left;
          line-height: 64px; }
          #header .menu-bottom .main-menu ul li a {
            padding: 0 15px;
            display: inline-block;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out; }
          #header .menu-bottom .main-menu ul li a:hover {
            text-decoration: none; }
          #header .menu-bottom .main-menu ul li .sub-menu {
            display: none;
            position: absolute;
            border-top: 1px solid #ffcb08; }
            #header .menu-bottom .main-menu ul li .sub-menu li {
              float: none;
              line-height: 44px; }
              #header .menu-bottom .main-menu ul li .sub-menu li a {
                width: 100%; }
        #header .menu-bottom .main-menu ul li:hover .sub-menu {
          display: block; }
          #header .menu-bottom .main-menu ul li:hover .sub-menu .sub-menu {
            display: none; }
          #header .menu-bottom .main-menu ul li:hover .sub-menu li:hover .sub-menu {
            display: block; }

.menu-transparent {
  background: transparent !important; }
  .menu-transparent .menu-logo .logo {
    display: none !important; }
  .menu-transparent .menu-logo .logo-transparent {
    display: block !important; }

.menu-open {
  top: -40px !important; }

.buttons .button:last-child {
  margin-right: 0; }

.button {
  display: inline-block;
  margin-right: 20px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out; }

body {
  font-family: "Lato", sans-serif; }

p {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 21px; }

#footer .widget-inner {
  padding-left: 15px;
  padding-right: 15px; }
#footer .widget_nav_menu ul, #footer .widget_tvds_recent_post_widget ul {
  list-style-type: none; }
  #footer .widget_nav_menu ul li, #footer .widget_tvds_recent_post_widget ul li {
    margin-bottom: 3px;
    line-height: 1.5em; }
    #footer .widget_nav_menu ul li a, #footer .widget_tvds_recent_post_widget ul li a {
      position: relative;
      color: inherit;
      font-size: 14px;
      left: 0; }
    #footer .widget_nav_menu ul li a:hover, #footer .widget_tvds_recent_post_widget ul li a:hover {
      text-decoration: none; }
    #footer .widget_nav_menu ul li a:before, #footer .widget_tvds_recent_post_widget ul li a:before {
      content: "";
      font-family: "fontello", sans-serif;
      display: inline-block;
      text-align: center;
      line-height: 1em;
      margin-left: 0.2em;
      margin-right: 0.7em; }
#footer .footer-bottom-inner {
  line-height: 32px; }
  #footer .footer-bottom-inner .social-icons {
    float: right; }
    #footer .footer-bottom-inner .social-icons .social-icon {
      color: inherit; }
  #footer .footer-bottom-inner .copyright {
    float: left; }

#side-icons {
  position: fixed;
  right: 0;
  z-index: 10000000; }
  #side-icons .side-icon {
    margin-top: 20px; }

#action-bar .action-link a:hover {
  text-decoration: none; }
#action-bar .action-button {
  padding: 15px 0;
  text-align: center; }

#call-to-action {
  padding: 35px 60px; }
  #call-to-action .col {
    height: 100%; }
  #call-to-action .text {
    display: table;
    height: 100%; }
    #call-to-action .text h3 {
      line-height: 34px; }
  #call-to-action .buttons {
    display: table;
    height: 100%;
    margin-top: 0; }

#cards .card-inner {
  padding: 65px 60px; }

#cards-with-icon .card-with-icon-inner {
  padding: 0 15px; }
#cards-with-icon .icon {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: 0 auto;
  margin-bottom: 25px;
  display: table;
  text-align: center; }
  #cards-with-icon .icon i {
    display: table-cell;
    vertical-align: middle;
    font-size: 42px; }

.carousel {
  overflow: hidden;
  position: relative; }
  .carousel .image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100; }
  .carousel .title-subtitle {
    position: relative;
    z-index: 1000; }
  .carousel .carousel-wrapper {
    position: relative;
    z-index: 1000;
    margin-top: 30px;
    overflow: hidden; }
    .carousel .carousel-wrapper .carousel-container {
      position: absolute;
      top: 0;
      left: 0;
      list-style-type: none; }
      .carousel .carousel-wrapper .carousel-container li {
        float: left;
        padding: 0 10px; }
  .carousel .normal-carousel .content-wrapper {
    padding-left: 50px;
    padding-right: 50px; }
  .carousel .normal-carousel .image {
    display: block; }
    .carousel .normal-carousel .image img {
      display: block;
      margin-bottom: 10px; }
  .carousel .logo-carousel .carousel-container li img {
    width: 100%;
    height: auto; }

#faqs .faq-control {
  display: block;
  width: 20px;
  height: 20px;
  background-position: center -17px;
  float: left;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }
#faqs .faq-control:before {
  width: auto;
  margin: 0 auto; }
#faqs .faq-heading {
  margin-left: 15px;
  line-height: 20px; }
#faqs .faq-answer {
  margin-left: 35px;
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }
#faqs .active .faq-answer {
  max-height: 400px; }

#opening-times table {
  width: 50%;
  margin: 0 auto; }
  #opening-times table td {
    width: 50%; }

#portfolio .title-subtitle {
  margin-bottom: 20px; }
#portfolio .portfolio-item a {
  display: block; }
#portfolio .portfolio-item img {
  width: 100%;
  height: auto; }
#portfolio .buttons {
  margin-top: 20px; }

#slider {
  height: 100vh; }
  #slider .slide-container {
    height: 100%; }
    #slider .slide-container .slide {
      overflow: hidden;
      width: 100%;
      height: 100%;
      display: table; }
      #slider .slide-container .slide .slide-content {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        z-index: 1000; }
      #slider .slide-container .slide .image-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 100; }
      #slider .slide-container .slide .content-image {
        position: absolute; }
  #slider .slider-slide {
    transition: margin-left 0.3s ease-in-out;
    -webkit-transition: margin-left 0.3s ease-in-out;
    -moz-transition: margin-left 0.3s ease-in-out; }
    #slider .slider-slide .slide {
      float: left; }
  #slider .slider-fade {
    width: 100%; }
    #slider .slider-fade .slide {
      transition: opacity 0.3s ease-in-out;
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      opacity: 0;
      position: absolute; }
    #slider .slider-fade .active {
      z-index: 10000;
      opacity: 1; }
  #slider .slider-menu {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%; }
    #slider .slider-menu .slide-button {
      position: absolute;
      height: 60px;
      width: 30px;
      top: 45%;
      display: table;
      z-index: 100000;
      text-align: center;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.4);
      color: #ffffff; }
      #slider .slider-menu .slide-button i {
        display: table-cell;
        vertical-align: middle; }
    #slider .slider-menu .slide-button:hover i {
      color: #08ada7; }
    #slider .slider-menu .slide-next {
      right: 0; }
    #slider .slider-menu .slide-prev {
      left: 0; }
    #slider .slider-menu .bottom-menu {
      z-index: 100000;
      position: relative;
      top: 90%;
      list-style-type: none;
      margin: 0 auto; }
      #slider .slider-menu .bottom-menu li {
        cursor: pointer;
        float: left;
        width: 20px;
        height: 20px;
        color: #ffffff; }

#text-with-image {
  position: relative; }
  #text-with-image .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; }
  #text-with-image .text .text-content {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: table; }
  #text-with-image .image {
    position: relative;
    overflow: hidden;
    z-index: 100; }
    #text-with-image .image .image-content {
      display: table;
      height: 100%;
      width: 100%; }
    #text-with-image .image img {
      position: relative;
      z-index: 100;
      display: block; }

body {
  width: 100%;
  overflow: hidden; }

.container-capped {
  padding-left: 60px;
  padding-right: 60px; }

.middle-wrap {
  display: table-cell;
  vertical-align: middle; }

.mobile-menu {
  display: none; }

.title {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%; }

.subtitle {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%; }

.content-wrapper {
  letter-spacing: 0.5px;
  line-height: 21px;
  margin-top: 10px;
  display: inline-block;
  width: 100%; }
  .content-wrapper p {
    margin-bottom: 0; }

.buttons {
  margin-top: 30px; }

.divider {
  display: inline-block;
  width: 100%; }
  .divider hr {
    width: 70px;
    border-color: rgba(0, 0, 0, 0.07);
    border-width: 2px;
    margin-top: 10px;
    margin-bottom: 10px; }

.social-icons .social-icon {
  float: right;
  font-size: 18px;
  color: inherit;
  margin-right: 4px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out; }

#go-up {
  position: fixed;
  text-align: center;
  display: table;
  z-index: 1000000000;
  cursor: pointer; }
  #go-up i {
    display: table-cell;
    vertical-align: middle; }

.widget_tvds_recent_post_widget .recent-post-item {
  display: inline-block;
  margin-bottom: 10px;
  color: inherit; }
  .widget_tvds_recent_post_widget .recent-post-item .image {
    padding-right: 10px; }
    .widget_tvds_recent_post_widget .recent-post-item .image img {
      width: 100% !important;
      height: auto !important; }
  .widget_tvds_recent_post_widget .recent-post-item .text {
    color: inherit; }
    .widget_tvds_recent_post_widget .recent-post-item .text h5 {
      margin-top: 5px; }
  .widget_tvds_recent_post_widget .recent-post-item .content {
    margin-top: 10px; }
    .widget_tvds_recent_post_widget .recent-post-item .content p {
      color: inherit;
      font-size: 14px; }

.mobile .hide-mobile {
  display: none !important; }

@media screen and (max-width: 992px) {
  #action-bar .action-link {
    margin-bottom: 20px; } }
@media screen and (max-width: 1024px) {
  .container-capped {
    padding-left: 30px !important;
    padding-right: 30px !important; }

  .hide-mobile {
    display: none !important; }

  #cards-with-icon .card-with-icon {
    margin-bottom: 20px; }

  #text-with-image .text {
    position: relative !important; }
  #text-with-image .image img {
    float: none !important;
    margin: 0 auto; }

  .main-menu {
    display: none !important; }

  .mobile-menu {
    display: block !important; }

  .mobile-menu {
    float: right; }
    .mobile-menu .menu-icon-wrapper {
      height: 64px; }
      .mobile-menu .menu-icon-wrapper .menu-icon {
        cursor: pointer;
        height: 22px;
        width: 36px;
        position: relative;
        top: 21px; }
        .mobile-menu .menu-icon-wrapper .menu-icon span {
          display: block;
          position: absolute;
          width: 36px;
          height: 4px;
          border-radius: 9px;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: 0.3s ease-in-out;
          -moz-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
          background-color: #000000; }
        .mobile-menu .menu-icon-wrapper .menu-icon span:nth-child(1) {
          top: 0px; }
        .mobile-menu .menu-icon-wrapper .menu-icon span:nth-child(2) {
          top: 9px;
          left: 0; }
        .mobile-menu .menu-icon-wrapper .menu-icon span:nth-child(3) {
          top: 18px; }
      .mobile-menu .menu-icon-wrapper .open span:nth-child(1) {
        top: 9px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg); }
      .mobile-menu .menu-icon-wrapper .open span:nth-child(2) {
        opacity: 0;
        left: -60px; }
      .mobile-menu .menu-icon-wrapper .open span:nth-child(3) {
        top: 9px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg); }
    .mobile-menu .mobile-hoofdmenu-wrapper {
      position: absolute;
      width: 100%;
      left: 0; }
    .mobile-menu ul {
      list-style-type: none;
      max-height: 0;
      overflow: hidden;
      -webkit-transition: 0.6s ease-in-out;
      -moz-transition: 0.6s ease-in-out;
      -o-transition: 0.6s ease-in-out;
      transition: 0.6s ease-in-out; }
      .mobile-menu ul li a {
        display: block;
        font-size: 14px;
        width: 100%;
        padding: 14px 30px; }
      .mobile-menu ul li a:hover {
        text-decoration: none; }
    .mobile-menu .menu-item-has-children i {
      float: right;
      position: relative;
      top: -2px;
      font-size: 18px;
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .mobile-menu .sub-menu .sub-menu li a {
      padding: 14px 60px; }
    .mobile-menu .sub-menu .sub-menu .sub-menu li a {
      padding: 14px 90px; }
    .mobile-menu .mobile-menu-open {
      max-height: 700px; }
    .mobile-menu .sub-menu-open {
      max-height: 400px !important; }
    .mobile-menu .sub-menu-clicked {
      transform: rotate(180deg) !important;
      -webkit-transform: rotate(180deg) !important;
      -moz-transform: rotate(180deg) !important;
      -o-transform: rotate(180deg) !important; } }

/*# sourceMappingURL=style.css.map */
