@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden; }

ul {
  margin: 0; }

a:hover {
  text-decoration: none; }

a:focus {
  text-decoration: none; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

#nav {
  width: 100%;
  display: block;
  z-index: 100000000;
  top: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out; }
  #nav #search-form {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden; }
    #nav #search-form #s {
      background: none;
      border: none;
      color: #ffffff;
      text-align: center;
      margin: 20px 0;
      height: 24px;
      font-size: 18px;
      width: 100%; }
    #nav #search-form #s:focus {
      outline: none; }
  #nav .search-form-open {
    max-height: 100px !important; }
  #nav .menu-top {
    height: 20px;
    margin: 10px 0;
    font-size: 14px;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out; }
    #nav .menu-top .mail-number {
      float: left; }
      #nav .menu-top .mail-number span {
        margin-right: 10px; }
        #nav .menu-top .mail-number span i {
          margin-right: 3px; }
    #nav .menu-top .social-icons {
      float: right; }
      #nav .menu-top .social-icons .social-icon {
        font-size: 14px; }
  #nav .menu-bottom {
    height: 64px;
    position: relative; }
    #nav .menu-bottom .menu-logo {
      float: left;
      height: 100%; }
      #nav .menu-bottom .menu-logo .logo {
        height: 100%;
        display: block; }
      #nav .menu-bottom .menu-logo .logo-transparent {
        height: 100%;
        display: none; }
    #nav .menu-bottom .main-menu {
      float: right; }
      #nav .menu-bottom .main-menu ul {
        float: left;
        list-style-type: none; }
        #nav .menu-bottom .main-menu ul li {
          float: left;
          line-height: 64px; }
          #nav .menu-bottom .main-menu ul li a {
            padding: 0 15px;
            display: inline-block;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out; }
          #nav .menu-bottom .main-menu ul li a:hover {
            text-decoration: none; }
          #nav .menu-bottom .main-menu ul li .sub-menu {
            display: none;
            position: absolute;
            border-top: 1px solid #ffcb08; }
            #nav .menu-bottom .main-menu ul li .sub-menu li {
              float: none;
              line-height: 44px; }
              #nav .menu-bottom .main-menu ul li .sub-menu li a {
                width: 100%; }
        #nav .menu-bottom .main-menu ul li:hover .sub-menu {
          display: block; }
          #nav .menu-bottom .main-menu ul li:hover .sub-menu .sub-menu {
            display: none; }
          #nav .menu-bottom .main-menu ul li:hover .sub-menu li:hover .sub-menu {
            display: block; }
    #nav .menu-bottom .search-button {
      float: right;
      position: relative;
      line-height: 64px;
      padding-left: 15px; }

.menu-transparent {
  background: transparent !important; }
  .menu-transparent .menu-logo .logo {
    display: none !important; }
  .menu-transparent .menu-logo .logo-transparent {
    display: block !important; }

.menu-open {
  top: -40px !important; }

.menu-close-with-search {
  top: -140px !important; }

.buttons {
  margin-top: 20px; }
  .buttons .button:last-child {
    margin-right: 0; }

.button {
  display: inline-block;
  margin-right: 20px; }

body {
  font-family: "Lato", sans-serif; }

p {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 21px; }

#footer .widget_nav_menu ul, #footer .widget_tvds_recent_post_widget ul {
  list-style-type: none; }
  #footer .widget_nav_menu ul li, #footer .widget_tvds_recent_post_widget ul li {
    margin-bottom: 3px;
    line-height: 1.5em; }
    #footer .widget_nav_menu ul li a, #footer .widget_tvds_recent_post_widget ul li a {
      position: relative;
      color: inherit;
      font-size: 14px;
      left: 0; }
    #footer .widget_nav_menu ul li a:hover, #footer .widget_tvds_recent_post_widget ul li a:hover {
      text-decoration: none; }
    #footer .widget_nav_menu ul li a:before, #footer .widget_tvds_recent_post_widget ul li a:before {
      content: "";
      font-family: "fontello", sans-serif;
      display: inline-block;
      text-align: center;
      line-height: 1em;
      margin-left: 0.2em;
      margin-right: 0.7em; }
#footer .footer-bottom-inner {
  line-height: 32px; }
  #footer .footer-bottom-inner .social-icons {
    float: right; }
    #footer .footer-bottom-inner .social-icons .social-icon {
      color: inherit; }
  #footer .footer-bottom-inner .copyright {
    float: left; }

#side-icons {
  position: fixed;
  right: 0;
  z-index: 10000000; }
  #side-icons .side-icon {
    margin-top: 20px; }

#action-bar .action-link a:hover {
  text-decoration: none; }
#action-bar .action-button {
  padding: 15px 0;
  text-align: center; }

#column {
  position: relative; }
  #column .column-content {
    width: 100%;
    height: 100%;
    overflow: hidden; }
  #column .image-content img {
    position: relative;
    z-index: 100;
    display: block; }
  #column .opening-times-content table {
    width: 75%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  #column .opening-times-content td {
    padding: 10px; }
  #column .contact-form-content .contact-form {
    width: 100%;
    margin-top: 20px; }
  #column .faq-content .faq-control {
    display: block;
    width: 20px;
    height: 20px;
    background-position: center -17px;
    float: left;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out; }
  #column .faq-content .faq-control:before {
    width: auto;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out; }
  #column .faq-content .faq-heading {
    margin-left: 15px;
    line-height: 20px; }
  #column .faq-content .faq-answer {
    display: inline-block;
    margin-left: 35px;
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out; }
  #column .faq-content .active .faq-control:before {
    transform: rotate(180deg); }
  #column .faq-content .active .faq-answer {
    max-height: 400px; }

#call-to-action {
  position: relative; }
  #call-to-action .buttons {
    margin-top: 0; }

@media screen and (max-width: 992px) {
  #call-to-action .buttons-row {
    height: auto !important; } }
#cards .row {
  margin-top: 50px; }
#cards .row:nth-child(1) {
  margin-top: 0; }
#cards .card-with-icon-inner {
  padding: 0 15px; }
#cards .icon {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: 0 auto;
  margin-bottom: 25px;
  display: table;
  text-align: center; }
  #cards .icon i {
    display: table-cell;
    vertical-align: middle;
    font-size: 42px; }

.carousel {
  overflow: hidden;
  position: relative; }
  .carousel .carousel-wrapper {
    position: relative;
    z-index: 10000;
    overflow: hidden; }
    .carousel .carousel-wrapper .carousel-container {
      position: absolute;
      top: 0;
      left: 0;
      list-style-type: none; }
      .carousel .carousel-wrapper .carousel-container li {
        float: left; }
      .carousel .carousel-wrapper .carousel-container .item-featured-image {
        position: relative; }
        .carousel .carousel-wrapper .carousel-container .item-featured-image img {
          width: 100%;
          height: auto; }
        .carousel .carousel-wrapper .carousel-container .item-featured-image .image-overlay {
          opacity: 0;
          transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out; }
      .carousel .carousel-wrapper .carousel-container .item-categories a {
        color: inherit; }
      .carousel .carousel-wrapper .carousel-container .item-content p {
        font-size: inherit; }
  .carousel .testimonial-carousel .image {
    display: block; }
    .carousel .testimonial-carousel .image img {
      display: block;
      margin-bottom: 10px; }
  .carousel .testimonial-carousel .content-wrapper {
    display: block; }
  .carousel .logo-carousel .carousel-container li img {
    width: 100%;
    height: auto; }
  .carousel .carousel-nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 30px;
    z-index: 2000; }
    .carousel .carousel-nav .next {
      float: right; }
  .carousel .carousel-nav-vertical-center {
    height: 100%;
    top: 0; }

#portfolio .portfolio-item .item-link {
  display: inline-block; }
#portfolio .portfolio-item .item-categories a {
  color: inherit; }
#portfolio .portfolio-item .item-content p {
  font-size: inherit; }
#portfolio .portfolio-item .item-featured-image {
  position: relative; }
  #portfolio .portfolio-item .item-featured-image img {
    width: 100%;
    height: auto; }
  #portfolio .portfolio-item .item-featured-image .image-overlay {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out; }

#slider .slide-container {
  height: 100%; }
  #slider .slide-container .slide {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: table; }
    #slider .slide-container .slide .slide-content {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      z-index: 1000; }
      #slider .slide-container .slide .slide-content .block-image {
        position: absolute;
        height: 100%;
        top: 0; }
      #slider .slide-container .slide .slide-content .slide-content-inner {
        position: relative;
        height: 100%; }
        #slider .slide-container .slide .slide-content .slide-content-inner .content-image {
          position: relative;
          height: 100%; }
          #slider .slide-container .slide .slide-content .slide-content-inner .content-image img {
            position: absolute; }
#slider .slider-slide {
  transition: margin-left 0.3s ease-in-out;
  -webkit-transition: margin-left 0.3s ease-in-out;
  -moz-transition: margin-left 0.3s ease-in-out; }
  #slider .slider-slide .slide {
    float: left;
    position: relative; }
#slider .slider-fade {
  width: 100%; }
  #slider .slider-fade .slide {
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    opacity: 0;
    position: absolute; }
  #slider .slider-fade .active {
    z-index: 10000;
    opacity: 1; }
#slider .slider-menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }
  #slider .slider-menu .slide-button {
    position: absolute;
    height: 60px;
    width: 30px;
    top: 45%;
    display: table;
    z-index: 100000;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff; }
    #slider .slider-menu .slide-button i {
      display: table-cell;
      vertical-align: middle; }
  #slider .slider-menu .slide-button:hover i {
    color: #08ada7; }
  #slider .slider-menu .slide-next {
    right: 0; }
  #slider .slider-menu .slide-prev {
    left: 0; }
  #slider .slider-menu .bottom-menu {
    z-index: 100000;
    position: relative;
    top: 90%;
    list-style-type: none;
    margin: 0 auto; }
    #slider .slider-menu .bottom-menu li {
      cursor: pointer;
      float: left;
      width: 20px;
      height: 20px;
      color: #ffffff; }

#video {
  position: relative; }
  #video .on-top {
    position: absolute;
    height: 100%;
    z-index: 110; }
  #video .video-block {
    overflow: hidden; }
    #video .video-block video {
      display: block !important; }

body {
  width: 100%;
  overflow: hidden; }

.inner-col {
  width: 100%;
  height: 100%; }

.middle-wrap-wrapper {
  display: table;
  height: 100%;
  width: 100%; }

.middle-wrap {
  display: table-cell;
  vertical-align: middle;
  width: 100%; }

.mobile-menu {
  display: none; }

.title {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%; }

.subtitle {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%; }

.content-wrapper {
  letter-spacing: 0.5px;
  line-height: 21px;
  margin-top: 10px;
  display: inline-block;
  width: 100%; }
  .content-wrapper p {
    margin-bottom: 0; }

.divider {
  display: inline-block;
  width: 100%; }
  .divider hr {
    width: 70px;
    border-color: rgba(0, 0, 0, 0.07);
    border-width: 2px;
    margin-top: 10px;
    margin-bottom: 10px; }

.social-icons .social-icon {
  float: right;
  font-size: 18px;
  color: inherit;
  margin-right: 4px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out; }

#preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200000000000000000;
  display: table; }
  #preloader img {
    display: block;
    margin: 0 auto; }

#go-up {
  position: fixed;
  text-align: center;
  display: table;
  z-index: 1000000000;
  cursor: pointer; }
  #go-up i {
    display: table-cell;
    vertical-align: middle; }

.image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100; }

.on-top-overlay {
  position: relative;
  z-index: 101 !important; }

.fill {
  overflow: hidden; }

.widget_tvds_recent_post_widget .recent-post-item {
  display: inline-block;
  margin-bottom: 10px;
  color: inherit; }
  .widget_tvds_recent_post_widget .recent-post-item .image {
    padding-right: 10px; }
    .widget_tvds_recent_post_widget .recent-post-item .image img {
      width: 100% !important;
      height: auto !important; }
  .widget_tvds_recent_post_widget .recent-post-item .text {
    color: inherit; }
    .widget_tvds_recent_post_widget .recent-post-item .text h5 {
      margin-top: 5px; }
  .widget_tvds_recent_post_widget .recent-post-item .content {
    margin-top: 10px; }
    .widget_tvds_recent_post_widget .recent-post-item .content p {
      color: inherit;
      font-size: 14px; }

.logo-header p {
  display: none; }

.mobile .logo-header p {
  display: block; }

.mobile .hide-mobile {
  display: none !important; }

@media screen and (max-width: 768px) {
  #action-bar .action-link {
    margin-bottom: 20px !important; }

  .mobile-menu {
    float: left !important; }

  .menu-logo {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    float: none !important; }
    .menu-logo a {
      width: 50%;
      height: 100%;
      display: block;
      margin: 0 auto; }
      .menu-logo a img {
        margin: 0 auto;
        max-width: 100%; } }
@media screen and (max-width: 992px) {
  #nav .menu-top .mail-number {
    float: none;
    text-align: center; }

  #footer .footer-bottom .copyright {
    text-align: center;
    float: none; }
  #footer .footer-bottom .social-icons {
    text-align: center;
    float: none; }
    #footer .footer-bottom .social-icons a {
      text-align: center;
      float: none; }

  #call-to-action .middle-wrap h1 {
    text-align: center !important; }
  #call-to-action .middle-wrap h3 {
    text-align: center !important; }
  #call-to-action .middle-wrap .divider hr {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important; }
  #call-to-action .buttons {
    text-align: center !important;
    margin-top: 10px; }

  #column .image-content img {
    float: none !important;
    margin: 0 auto; }

  .col {
    height: auto !important; }

  #action-bar .action-link {
    margin-bottom: 20px; }
  #action-bar .action-link:nth-child(3) {
    margin-bottom: 0; }
  #action-bar .action-link:nth-child(4) {
    margin-bottom: 0; } }
@media screen and (max-width: 1024px) {
  .hide-mobile {
    display: none !important; }

  .container-capped {
    padding-left: 30px !important;
    padding-right: 30px !important; }

  #cards .row {
    margin: 0 !important; }
  #cards .card-with-icon {
    margin-bottom: 50px; }

  .main-menu {
    display: none !important; }

  .mobile-menu {
    display: block !important;
    float: right; }
    .mobile-menu .menu-icon-wrapper {
      height: 64px; }
      .mobile-menu .menu-icon-wrapper .menu-icon {
        cursor: pointer;
        height: 22px;
        width: 36px;
        position: relative;
        top: 21px; }
        .mobile-menu .menu-icon-wrapper .menu-icon span {
          display: block;
          position: absolute;
          width: 36px;
          height: 4px;
          border-radius: 9px;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: 0.3s ease-in-out;
          -moz-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
          background-color: #000000; }
        .mobile-menu .menu-icon-wrapper .menu-icon span:nth-child(1) {
          top: 0; }
        .mobile-menu .menu-icon-wrapper .menu-icon span:nth-child(2) {
          top: 9px;
          left: 0; }
        .mobile-menu .menu-icon-wrapper .menu-icon span:nth-child(3) {
          top: 18px; }
      .mobile-menu .menu-icon-wrapper .open span:nth-child(1) {
        top: 9px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg); }
      .mobile-menu .menu-icon-wrapper .open span:nth-child(2) {
        opacity: 0;
        left: -60px; }
      .mobile-menu .menu-icon-wrapper .open span:nth-child(3) {
        top: 9px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg); }
    .mobile-menu .mobile-hoofdmenu-wrapper {
      position: absolute;
      width: 100%;
      left: 0; }
    .mobile-menu ul {
      list-style-type: none;
      max-height: 0;
      overflow: hidden;
      -webkit-transition: 0.6s ease-in-out;
      -moz-transition: 0.6s ease-in-out;
      -o-transition: 0.6s ease-in-out;
      transition: 0.6s ease-in-out; }
      .mobile-menu ul li a {
        display: block;
        font-size: 14px;
        width: 100%;
        padding: 14px 30px; }
      .mobile-menu ul li a:hover {
        text-decoration: none; }
    .mobile-menu .menu-item-has-children i {
      float: right;
      position: relative;
      top: -2px;
      font-size: 18px;
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .mobile-menu .sub-menu .sub-menu li a {
      padding: 14px 60px; }
    .mobile-menu .sub-menu .sub-menu .sub-menu li a {
      padding: 14px 90px; }
    .mobile-menu .mobile-search {
      padding: 14px 30px; }
      .mobile-menu .mobile-search input {
        width: 100%;
        background: none;
        border: none; }
    .mobile-menu .mobile-menu-open {
      max-height: 1100px; }
    .mobile-menu .sub-menu-open {
      max-height: 800px !important; }
    .mobile-menu .sub-menu-clicked {
      transform: rotate(180deg) !important;
      -webkit-transform: rotate(180deg) !important;
      -moz-transform: rotate(180deg) !important;
      -o-transform: rotate(180deg) !important; } }

/*# sourceMappingURL=style.css.map */
