body
  font-family: 'Lato', sans-serif

p
  font-size: 16px
  letter-spacing: 0.5px
  line-height: 21px

.container-capped
  padding: 50px 60px

.middle-wrap
  display: table-cell
  vertical-align: middle

@import "parts/reset"
@import "parts/buttons"
@import "parts/slider"
@import "parts/portfolio"
@import "parts/text_with_image"
@import "parts/carousel"
@import "parts/call-to-action"
@import "parts/cards"
@import "parts/cards_with_icons"
@import "parts/faq"
