#column
  position: relative

  // All the block contents
  .column-content
    width: 100%
    height: 100%
    overflow: hidden

  // Text block content
  .text-content

  // Image block content
  .image-content
    img
      position: relative
      z-index: 100
      display: block

  // Opening times content
  .opening-times-content
    table
      width: 75%
      margin-top: 10px
      margin-left: auto
      margin-right: auto
      text-align: center

    td
      padding: 10px

  // Contact From content
  .contact-form-content
    .contact-form
      width: 100%
      margin-top: 20px

  // FAQ content
  .faq-content
    .faq-control
      display: block
      width: 20px
      height: 20px
      background-position: center -17px
      float: left
      cursor: pointer
      text-align: center
      transition: all 0.3s ease-in-out
      -webkit-transition: all 0.3s ease-in-out
      -moz-transition: all 0.3s ease-in-out
      -o-transition: all 0.3s ease-in-out
    .faq-control:before
      width: auto
      margin: 0 auto
      transition: all 0.3s ease-in-out
      -webkit-transition: all 0.3s ease-in-out
      -moz-transition: all 0.3s ease-in-out
      -o-transition: all 0.3s ease-in-out

    .faq-heading
      margin-left: 15px
      line-height: 20px

    .faq-answer
      display: inline-block
      margin-left: 35px
      height: auto
      max-height: 0
      overflow: hidden
      transition: all 0.3s ease-in-out
      -webkit-transition: all 0.3s ease-in-out
      -moz-transition: all 0.3s ease-in-out
      -o-transition: all 0.3s ease-in-out

    // The style for the active question
    .active
      .faq-control:before
        transform: rotate(180deg)
      .faq-answer
        max-height: 400px
