#header
  top: 0
  height: 64px
  width: 100%
  display: block
  z-index: 1000000

  .header-logo
    float: left
    line-height: 64px

  .main-menu
    float: right
    ul
      list-style-type: none
      li
        float: left
        line-height: 64px
        a
          padding: 0 15px
          text-transform: uppercase
          color: inherit
          display: inline-block
        a:hover
          text-decoration: none