.container-capped
  padding: 0 60px

.middle-wrap
  display: table-cell
  vertical-align: middle

// Title
.title
  margin-bottom: 10px
  display: inline-block
  width: 100%

// Subtitle
.subtitle
  margin-bottom: 10px

// Content wrapper
.content-wrapper
  letter-spacing: 0.5px
  line-height: 21px
  margin-top: 10px
  display: inline-block
  p
    margin-bottom: 0

// Buttons
.buttons
  margin-top: 30px

// Divider
.divider
  width: 70px
  border-color: rgba(0,0,0,0.07)
  border-width: 2px
  margin-top: 10px
  margin-bottom: 10px

// Social icons
.social-icons
  .social-icon
    float: right
    font-size: 18px
    color: inherit
    margin-right: 4px
    transition: all 0.3s ease-in-out
    -webkit-transition: all 0.3s ease-in-out
    -moz-transition: all 0.3s ease-in-out

// Go Up
#go-up
  position: fixed
  text-align: center
  display: table
  z-index: 10000000
  cursor: pointer
  i
    display: table-cell
    vertical-align: middle


