.logo-header p
  display: none

.mobile
  .logo-header p
    display: block

// The Mobile Class gets added to the HTML tag when viewed on mobile device
.mobile
  .hide-mobile
    display: none !important
  .hide-desktop
    display: block !important


//-------------------------------------------------------------------------------------------------------//
//  Telephone and very small screens
//-------------------------------------------------------------------------------------------------------//
@media screen and (max-width: 768px)
  // Action Bar
  #action-bar
    .action-link
      margin-bottom: 20px !important

  // Menu
  .mobile-menu
    float: left !important

  .menu-logo
    position: absolute
    width: 100%
    left: 0
    top: 0
    float: none !important
    a
      width: 50%
      height: 100%
      display: block
      margin: 0 auto
      img
        margin: 0 auto
        max-width: 100%




//-------------------------------------------------------------------------------------------------------//
//  iPad Portrait mode and small screens
//-------------------------------------------------------------------------------------------------------//
@media screen and (max-width: 992px)
  // Hide all the elements that are selected to be hidden on mobile devices or small screens
  .hide-mobile
    display: none !important
  .hide-desktop
    display: block !important

  // Menu
  #nav
    .menu-top
      .mail-number
        float: none
        text-align: center

  // Footer
  #footer
    .footer-bottom
      .copyright
        text-align: center
        float: none

      .social-icons
        text-align: center
        float: none
        a
          text-align: center
          float: none

  // Call to action
  #call-to-action
    .middle-wrap
      h1
        text-align: center !important
      h3
        text-align: center !important
      .divider
        hr
          margin-left: auto !important
          margin-right: auto !important
          float: none !important

    .buttons
      text-align: center !important
      margin-top: 10px

  // Column
  #column
    .image-content
      img
        float: none !important
        margin: 0 auto

  // Set the col height to auto to override the even col height on mobile dimensions
  .col
    height: auto !important

  // Action Bar
  #action-bar
    .action-link
      margin-bottom: 20px
    .action-link:nth-child(3)
      margin-bottom: 0
    .action-link:nth-child(4)
      margin-bottom: 0


//-------------------------------------------------------------------------------------------------------//
//  iPad Landscape mode and small screens
//-------------------------------------------------------------------------------------------------------//
@media screen and (max-width: 1024px)

  // Set the container capped
  .container-capped
    padding-left: 30px !important
    padding-right: 30px !important

  // Cards with icon
  #cards
    .row
      margin: 0 !important
    .card-with-icon
      margin-bottom: 50px

  // Menu
  .main-menu
    display: none !important

  //-------------------------------------------------------------------------------------------------------//
  //  Mobile menu
  //-------------------------------------------------------------------------------------------------------//
  .mobile-menu
    display: block !important
    float: right
    
    .menu-icon-wrapper
      height: 64px
      .menu-icon
        cursor: pointer
        height: 22px
        width: 36px
        position: relative
        top: 21px
        span
          display: block
          position: absolute
          width: 36px
          height: 4px
          border-radius: 9px
          -webkit-transform: rotate(0deg)
          -moz-transform: rotate(0deg)
          -o-transform: rotate(0deg)
          transform: rotate(0deg)
          -webkit-transition: .3s ease-in-out
          -moz-transition: .3s ease-in-out
          -o-transition: .3s ease-in-out
          transition: .3s ease-in-out

          background-color: #000000
        span:nth-child(1)
          top: 0

        span:nth-child(2)
          top: 9px
          left: 0

        span:nth-child(3)
          top: 18px

      .open
        span:nth-child(1)
          top: 9px
          -webkit-transform: rotate(135deg)
          -moz-transform: rotate(135deg)
          -o-transform: rotate(135deg)
          transform: rotate(135deg)

        span:nth-child(2)
          opacity: 0
          left: -60px

        span:nth-child(3)
          top: 9px
          -webkit-transform: rotate(-135deg)
          -moz-transform: rotate(-135deg)
          -o-transform: rotate(-135deg)
          transform: rotate(-135deg)

        
    .mobile-hoofdmenu-wrapper
      position: absolute
      width: 100%
      left: 0

    ul
      list-style-type: none
      max-height: 0
      overflow: hidden
      -webkit-transition: .6s ease-in-out
      -moz-transition: .6s ease-in-out
      -o-transition: .6s ease-in-out
      transition: .6s ease-in-out
      li
        a
          display: block
          font-size: 14px
          width: 100%
          padding: 14px 30px
        a:hover
          text-decoration: none

    .menu-item-has-children
      i
        float: right
        position: relative
        top: -2px
        font-size: 18px
        transform: rotate(0deg)
        -webkit-transform: rotate(0deg)
        -moz-transform: rotate(0deg)
        -o-transform: rotate(0deg)
        -webkit-transition: all 0.3s ease-in-out
        -moz-transition: all 0.3s ease-in-out
        -o-transition: all 0.3s ease-in-out
        transition: all 0.3s ease-in-out

    .sub-menu
      .sub-menu
        li
          a
            padding: 14px 60px
        .sub-menu
          li
            a
              padding: 14px 90px

    .mobile-search
      padding: 14px 30px
      input
        width: 100%
        background: none
        border: none




    .mobile-menu-open
      max-height: 1100px

    .sub-menu-open
      max-height: 800px !important

    .sub-menu-clicked
      transform: rotate(180deg) !important
      -webkit-transform: rotate(180deg) !important
      -moz-transform: rotate(180deg) !important
      -o-transform: rotate(180deg) !important




